<div class="post-box">
  <h3>New Post</h3>
  <div class="input-group">
    <input type="text" name="title" [(ngModel)]="post.title">
    <label for="title" [class.rise]="post.title?.length !== 0">Title</label>
  </div>
  <div class="input-group">
    <input type="text" name="place" [(ngModel)]="post.place">
    <label for="place" [class.rise]="post.place?.length !== 0">Place</label>
  </div>
  <div class="file-upload" [class.uploaded]="imageupload === 'success'" [class.failed]="imageupload === 'failure'">
    <input type="file" name="image" #image>
    <label for="image" *ngIf="imageupload === 'success'">Uploaded</label>
    <label for="image" *ngIf="!imageupload">Image Upload</label>
    <label for="image" *ngIf="imageupload === 'failure'">Failed</label>
  </div>
  <div class="text-box">
    <textarea name="body" [(ngModel)]="post.body" placeholder="Body"></textarea>
  </div>
  <div class="button-track">
    <button (click)="createPost()">
      <p>Post</p>
      <i class="fas fa-paper-plane"></i>
    </button>
  </div>
  <div class="error-box" *ngIf="error">
    <h3>There was a problem completing your post.</h3>
    <p>Please refresh or try again later.</p>
    <button (click)="hideError()">Okay</button>
  </div>
</div>
<div class="post buffer-bottom">
  <div class="main-img">
    <img *ngIf="post.image" [src]="post.image" alt="Post Image">
  </div>
  <div class="post-info">
    <div class="title">
      <h5>{{post?.title}}</h5>
      <div class="secondary">
        <div class="date">
          <i class="fas fa-calendar-alt"></i>
          <h6>{{post?.date?.toDateString()}}</h6>
        </div>
        <div class="place" (click)="openPlace(post.placeId)">
          <i class="fas fa-map-marker"></i>
          <h6>{{post?.place}}</h6>
        </div>
      </div>
    </div>
    <div class="body">
      <p>{{post?.body}}</p>
    </div>
  </div>
  <div class="action-buttons">
    <button class="share">
      Share
      <i class="fas fa-share"></i>
    </button>
    <button class="see-more">
      See More
      <i class="fas fa-external-link-alt"></i>
    </button>
  </div>
</div>